body{
    padding: 0;
    margin: 0;
}
.container_header{
    margin: 0px;
    padding: 0px;
    height: 40px;  
    border-bottom: solid 1px #bdc3c7;
}
.container{
    width: 40%;
    transform: translate(70%,0%);
}
img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.logo{
    float: left;
}
.title{
    font-size: 16px;
    padding-top: 2px;
    color: #66757f;
    font-family: Helvetica;
    line-height: 40px;
    font-weight: 400;
}
ul{
    padding: 0px;
    margin: 0px;
    
}

.container_form{
    width: 40%;
    transform: translate(70%, 0%);
}
li {
    list-style-type: none;
}
h2{
    margin: 0px;
    font-family: Helvetica;
    color: #14171a;
    font-weight: 700;
    font-size: 28px;
    padding-top: 40px;
    
}
.descrip div{
    font-family: Helvetica;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #292f33;
}
.descrip {
    margin-top: 40px;
    margin-bottom: 25px;
}
li{
    display: block;
    margin: 0px; 
}
input{
    width: 60%;
    height: 30px;
    border-radius: 30px;
   
    margin-bottom: 25px;
    border: 2px solid rgb(87, 184, 70);
    outline: none;
}
button{
    width: 85px;
    height: 35px;
    border-radius: 30px;
    border: none;
    background-color: rgb(87, 184, 70);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #ffffff;
    font-family: Helvetica;
/*    margin-left: 120px;*/
}
button:hover{
    background-color: #4cd137;
}
button:focus{
    outline: none;
}
