*{
    padding: 0px;
    margin: 0px;
}
#file{
    
    display: none;
}

a{
    text-decoration: none;
}
/*------------------------------------------------------*/
.navigation{
    width: 100%;
    height: 60px;
    
    position: fixed;
    z-index: 2;
    background-color: #34495e;
}
.navigation #logo{
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 100px;
    margin-top: 5px;
}
.navigation #logo img{
    cursor: pointer;
}
.navigation ul{
    float: right;
    margin-right: 80px;
}
.navigation ul li{
    list-style-type: none;
    float: left;
    margin-right: 50px;
}
.navigation ul #search_bar{
    height: 30px;
    border: 1px solid #dfe6e9;
    border-radius: 30px;
    background: white;
    padding: 3px;
    margin-top: 12px;
}
.search-btn{
    color: #2d3436;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: #34495e;
    font-size: 14px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
    font-family: Lora;
    font-weight: 400;
}
#search_bar:hover > .search-txt{
    width: 250px;
    padding: 0 6px;
}

.navigation ul #add{
    
    font-size: 20px;
    width: 20px;
    height: 20px;
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
    align-items: center;
}


.navigation ul #persional{
    
    margin-top: 10px;
}
.navigation ul #persional img{
    border-radius: 40px;
}
.navigation ul #notice{
    
    font-size:20px;
    margin-top: 20px;
    color: aliceblue;
    
}
.navigation ul #more {
   
    font-size:20px;
    margin-top: 20px;
    color: aliceblue;
}
















/*--------------------------------------------------------*/
.container_main{
    width: 100%;
    height: auto;
    min-height: 1000px;
    display: flex;
    z-index: 1;
   
}

.container_main .poster{
    width: 40%;
    height: auto;
    border: 1px solid #95a5a6;
    margin-left: 17.5%;
    
}
.container_main .recomend{
    width: 25%;
    height: auto;
    border-right: 1px solid #95a5a6;
    
}

/* ---------------------------------Post Status */

.post_tus{
    width: 92%;
    margin: 4%;
    height: auto;
    border: solid 1px #95a5a6;
    margin-top: 2% ;
   
}
.post_tus img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 20px;
    padding: 5px;
}
.avatarTus {
    display: flex;
    /* border: 1px solid red; */
}
.avatarTus textarea{
    width: 100%;
    height: auto;
    min-height: 90px;
    word-wrap: break-word;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 15px;
    border: none;
    outline: none;
}
.post_tus .item{
    margin-top: 10px;
    padding-left: 75px;
    margin-bottom: 15px;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}
.post_tus i{
    font-size: 25px;
    color: #27ae60;
    margin-right: 20px;
    padding-top: 2px;
}
.post_tus button{
    width: 85px;
    height: 30px;
    border-radius: 30px;
    outline: none;
    background: #ffffff;
    border: 2px solid #27ae60;
    margin-left:  150px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}
.post_tus button:hover{
    background-color: #2ecc71;
    color: white;
}
button{
    cursor: pointer;
}
i{
    cursor: pointer;
}
img{
    cursor: pointer;
}
.showimg{
    /*border: 1px solid red;*/
    margin-top: 10px;
    display: none;
}
.showimg #blah{
    
    width: 430px;
    height: auto;
    max-height: 400px;
    border: none;
    border-radius: 0px;
    padding-left: 32px;
}